/* Estilo del contenedor */
.form-container {
  background-color: #68047c;
  /* Color de fondo oscuro */
  padding: 20px;
  /* Espacio interior del contenedor */
  border-radius: 10px;
  /* Bordes redondeados para el contenedor */
  margin: 0 auto;
  /* Centra el contenedor horizontalmente */
  max-width: 400px;
  /* Ancho máximo del contenedor */
}

/* Estilo del formulario */
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1px;
  /* Puedes ajustar más estilos según tus preferencias */
}

/* Estilos para el formulario y su contenido */
.formulario {
  color: #fff;
  /* Color del texto dentro del formulario */
  /* Otros estilos de tu formulario */
}

.button-container {
  text-align: center;
  margin-top: 20px;
  /* Ajusta la distancia entre el botón y el mensaje */
}

.aviso {
  text-align: center;
}



.form-container {
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  text-align: left;
}

.form-row label {
  font-weight: bold;
}

.form-row input,
.form-row textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-row textarea {
  height: 100px;
}

.form-row label span.obligatorio {
  color: red;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
  .formulario {
    padding: 10px;
  }

  .form-row label {
    text-align: center;
  }

  .form-row input,
  .form-row textarea {
    font-size: 14px;
  }

  .form-row textarea {
    height: 80px;
  }
}

/* Añadir estos estilos al CSS */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* Ajusta el margen superior según tus necesidades */
}

button#enviar {
  background-color: #FF5A2C;
  /* Color de fondo */
  color: #fff;
  /* Color del texto */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button#enviar:hover {
  background-color: #FF7046;
  /* Color de fondo al pasar el cursor */
}