.social-buttons {
    
    text-align: center;
  }
  
  .social-buttons a {
    display: block;
    margin-bottom: 10px;
    color: white;
    font-size: 24px;
  }
  
  .social-buttons a:hover {
    color: #1DA1F2;
  }

  footer {
    background-color: #2A223A;
    padding: 30px 0;
    margin-top: 50px;
    text-align: center;
  }

  footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer .social-buttons a {
    display: inline-block;
    margin: 0 10px;
    color: #6c757d;
    font-size: 24px;
  }

  footer .social-buttons a:hover {
    color: #FF7046;
  }

  footer .copyright {
    text-align: center;
    margin-top: 20px;
    color: #6c757d;
    font-size: 14px;
  }
  
 