
.form-container {
  height: auto;
  width: auto;
  background-color: #2A223A;
  padding: 30px 30px 30px;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
}

main {
  
  margin: auto;
  margin-top: 60px;
  max-width: 600px;
  border-radius: 10px;
  
    
}
  

/* Estilo del formulario */
.formulario { 
  /*ajustar altura no muy sepado del borde superior ajustar espacio arriba y abajo */
  
  padding: 10px;
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2A223A;
  
  
   
}



.button-container {
  text-align: center;
  margin-top: 20px;
  
}

.aviso {
  text-align: center;
}




  

.form-row {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  text-align: left;
}

.form-row label {
  font-weight: bold;
}

.form-row input {
  /*modificar color de deja aqui tu comentario*/
  
  width: 100%;
  padding: 8px;
  border: 1px solid #272525;
  border-radius: 5px;
  font-size: 16px;
}

.form-row textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #b90e0e;
  border-radius: 5px;
  font-size: 16px;
}

.form-row textarea {
  height: 100px;
}

.form-row label span.obligatorio {
  color: red;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
  .formulario {
    padding: 10px;
  }

  .form-row label {
    text-align: center;
  }

  .form-row input,
  .form-row textarea {
    font-size: 14px;
  }

  .form-row textarea {
    height: 80px;
  }
}

/* Añadir estos estilos al CSS */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;  
}

button#enviar {
  background-color: #FF5A2C;  
  color: #fff; 
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button#enviar:hover {
  background-color: #FF7046;  
}

